name: Plot taxonomy

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Setup Graphviz
      uses: ts-graphviz/setup-graphviz@v1    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Update plot of taxonomy
      run: |-
        python visualization/generate_plot.py

    - name: Commit and push if changed
      run: |-
        git diff
        git config --global user.email "viz-bot@example.com"
        git config --global user.name "viz-bot"
        git add -A
        git commit -m "New plot generated!" || exit 0
        git push
